/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
  	font-size: xx-large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

label {
	font-size: large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
}
#date-input {
	width: 250px;
	height: 30px;
	border-radius: 10px;
	font-size: larger;
	text-align: center;
}
button {
	width: 200px;
	height: 30px;
	font-size: larger;
	text-align: center;
	border-radius: 10px;
}